.dummy {
    background-color: #F0F8FF;
}

.ribbon {
    padding: 2px 4px 0px 4px;
    background-color: #D3D3D3;
    font-size: 12px;
    width: auto;
    height: auto;
    border-radius: 3px;
    font-weight: bold;
}
